[submodule "hardware/v1/sources/rig_omni"]
	path = hardware/v1/sources/rig_omni
	url = https://github.com/LuwuDynamics/rig_omni.git
[submodule "hardware/v1/sources/WeActStudio.ESP32S3-AorB"]
	path = hardware/v1/sources/WeActStudio.ESP32S3-AorB
	url = https://github.com/WeActStudio/WeActStudio.ESP32S3-AorB.git
